= render partial: "questions/index"

= link_to "New Question", new_subsection_question_path(@subsection), class: 'btn'
- content_for :sidebar do
  = render partial: 'subsections/sidebar', locals: {subsection: @subsection}

