%p
  The fund
  = link_to @fund.title, fund_url(@fund)
  has added the course
  = succeed "." do
    = link_to @course.title, course_url(@course)
  Please inspect the course for approval immediately.
