%p
  = link_to @comment.user.username, user_url(@comment.user_id)
  has added a comment to
  = link_to @comment.commentable.title, url_for(@comment.commentable)

%p
  Comment:

.well
  = @comment.body.html_safe_sanitized

%p
  You're receiving this email because you're involved in the discussion.