%p
  Hello
  = @user.username
  ,

%p
  This email confirms that your order of
  = number_to_currency(@order.price)
  for 
  = @order.orderable.title
  is has been set up.
 
%p 
  - if @order.orderable.class == Fund
    You will recieve a confirmation email when the fund you have supported is complete.
  - else
    You should recieve a confirmation email shortly when your payment is completed.

%p
  You can view all of your orders here:
  = link_to "View all orders", orders_path

%p Love,
%p Uludum Staff