%p
  This email confirms that your order of
  %b= number_to_currency(@order.price)
  for 
  %b
    = link_to @order.orderable.title, polymorphic_url(@order.orderable)
  is has been set up.
 
%p 
  - if @order.orderable.class == Fund
    You will recieve a confirmation email when the fund you have supported is complete.
  - else
    You should recieve a confirmation email shortly when your payment is completed.


