%p
  A payment from
  = link_to @order.user.username, user_url(@order.user)
  for
  %b= link_to @order.orderable.title, polymorphic_url(@order.orderable)
  is complete.
%p
  You should see a new payment of
  %b= number_to_currency(@order.price)
  in your
  = link_to "Amazon Payments", "http://payments.amazon.com"
  account.
