%table.table.comment-table
  %tbody  
    - comments.each do |comment|
      %tr
        %td.span2
          = link_to user_display(comment.user), comment.user
          - if enrolled? comment.commentable
            %span.label Enrolled
          %br
          = time_ago_in_words(comment.created_at)
          ago
        %td.span4
          = comment.body.html_safe