%table.table.comment-table
  %tbody
    - comments.each do |comment|
      %tr
        %td.span2
          - commentable = comment.commentable
          = link_to user_display(comment.user), comment.user
          - if enrolled? commentable, comment.user
            %span.label.label-success Enrolled
          - if voted? commentable, comment.user
            %span.label.label-success Wished
          - if commentable.respond_to?(:user) && commentable.user_id == comment.user_id
            %span.label.label-info Creator
          %br
          %p
            = comment.created_at.abbreviated
        %td.span4
          .well
            = comment.body.html_safe_sanitized
