- content_for :sidebar do
  %li.nav-header Current Course
  %li= link_to subsection.course.title, course_path(subsection.course), class: 'white'
  %li.divide
    %a
  = sidebar_list @subsection.course.sections, @subsection.section
  %li.divide
    %a
  = sidebar_list @subsection.section.subsections, @subsection
  - if can? :manage, @subsection
    %li.divide
      %a
    %br
    %li.active.bottom= link_to "New Subsection", new_section_subsection_path(subsection.section)