%br
%br

.row
  .span7.offset1
    %h3 Facilitate Engaging Conversations
    %br
    %br
    %p
      Built-in forums for users to ask questions, discuss the course,
      and build connection with your students.
  .span3
    = image_tag "/images/discussions.png", class: "feature-image"

%br
%br

.break

%br
%br

.row
  .span3.offset1
    = image_tag "/images/bitcoin.png", class: "feature-image"
  .span7
    %h3 Bitcoin Supported!
    %br
    %br
    %p
      Get paid with credit cards, Bitcoin, or both!

%br
%br
