.row
  .span4.offset4
    .break
    %div{style: "text-align: center;"}
      %h2 Error
      %h5 We're sorry,
      %p
        There was an error while processing your last request. We'll be able to examine this issue immediately to fix any problems that might have occured.
      %p
        Want to
        %a{href: root_path} go back to our home page?
    .break
    = logo_tag 50, style: "margin: 0px auto; display: block;"