%h1
  New update for
  = link_to @updateable.title, @updateable

= render 'form'

- type = @updateable.class.to_s.downcase
= render partial: "#{type}s/sidebar", locals: { type.to_sym => @updateable }

