$linkColor: rgb(107, 0, 190)
$linkColorHover: darken($linkColor, 15%)
$blue: $linkColor
$successBackground: rgb(81, 163, 81)

.hidden
  :display none

.big
  :font-size 16px
  :line-height 1.5em

.break
  :width 100%
  :border-top 1px solid rgb(226, 226, 226)
  :margin 40px 0

.listy
  :list-style-type decimal

.gray
  :color #ccc

.btn
  :background #EBEBEB
  :border 1px solid #ccc
  :text-shadow none

.btn-success
  :background $successBackground
  :border none
  &:hover, &:focus
    :background darken($successBackground, 10%)