$linkColor: rgb(96, 89, 180)
$linkColorHover: darken($linkColor, 15%)
$blue: $linkColor
$successBackground: rgb(64, 197, 64)
$backgroundColor: whitesmoke
$lightGray: darken(whitesmoke, 5%)

.hidden
  :display none

.big
  :font-size 16px
  :line-height 1.5em

.small
  :font-size 11px
  :font-weight 700

.break
  :width 100%
  :border-top 1px solid $lightGray
  :margin 40px 0

.listy
  :list-style-type decimal

.gray
  :color $lightGray

