@import "bootstrap"
$white: rgb(241, 238, 246)
$light-purple: rgb(189, 201, 225)
$purple: rgb(116, 169, 207)
$dark-purple: rgb(5, 112, 176)

.white
  :text-shadow none

.light-purple
  :background-color $light-purple !important
  :text-shadow none !important
  :color #111

.purple
  :background-color $purple !important
  :color white
  :text-shadow none !important

.dark-purple
  :text-shadow none
  :color white

a, a:visited, a:hover
  :text-shadow none
  
body
  :font-family 'Lato', Helvetica, Arial

.main
  :position fixed
  :top 41px
  :right 0
  :left 0
  :bottom 0
  :overflow scroll
  :background-color whiteSmoke
  #sidebar
    :padding-top 0px
    :position relative
    :height 100%
    :border-right 1px solid #ddd
    :overflow-y scroll
    :background-color #F0F0F0
    ul
      :height 100%
      :margin 0
      li
        a
          :padding-top 10px
          :padding-bottom 10px
        &.divide
          a
            :border-top 1px solid rgb(226, 226, 226)
            :padding 0
  .content
    :position relative
    :height 100%
    :overflow-y scroll
.active
  a
    :background-color $purple !important

.thumbnails
  .row
    :margin 10px 0


i
  opacity: 0.5