@import "helpers"
$white: rgb(241, 238, 246)
$light-purple: rgb(189, 201, 225)
$purple: rgb(116, 169, 207)
$dark-purple: rgb(5, 112, 176)

.white
  :text-shadow none

.light-purple
  :background-color $light-purple !important
  :text-shadow none !important
  :color #111

.purple
  :background-color $purple !important
  :color white
  :text-shadow none !important

.dark-purple
  :text-shadow none
  :color white

a, a:visited, a:hover
  :text-shadow none !important
  
body
  :font-family 'Lato', Helvetica, Arial
  :background-color rgb(228, 228, 228)
  :background-image url('navy_blue/navy_blue.png')

#container
  .main
    :margin-left 0px
    #sidebar
      :margin-left 0px
      :padding-top 0px
      :position relative
      :background-color none
      :border-right 1px solid $lightGray
      :padding-bottom 30px
      ul
        :height 100%
        :margin 0
        li
          a
            :padding-top 10px
            :padding-bottom 10px
          &.divide
            a
              :border-top 1px solid rgb(226, 226, 226)
              :padding 0
    .content
      :position relative
      :height 100%
      :overflow-y scroll
      :margin-left 10px

.active
  a
    :background-color $purple !important

.navbar
  .navbar-inner
    :border-radius 0px
    :background none
    :border none
    :border-bottom 3px solid #777
    :box-shadow none
    .container
      .progress-area
        :margin 10px 0
        :height 20px
        :width 240px
        .progress-display
          :color #444
        .progress
          :box-shadow none
          :width 200px
          :float right
          :background rgb(201, 201, 201)
          .bar
            :background #62C462
            :box-shadow none

.thumbnails
  .row
    :margin 10px 0


i
  opacity: 0.5

.page-container
  :background-color $backgroundColor
  :padding 0 80px
  :border-width 0 1px 1px 1px
  :border-style solid
  :border-color #ccc

#footer
  :width 368px
  :margin 20px auto