- cache "utensil modal inner" do
  #utensil-modal.modal.hide.fade
    = form_tag "", class: "utensil-form" do
      .modal-header
        %btn.close{type: 'button', 'data-dismiss' => 'modal'} &times;
        %h3.modal-utensil-title Select a Utensil
        / %p Utensils are special elements you can use to embed content.
      .modal-body#utensils
        %p Pick a utensil
        %ul#utensil-list
      .modal-footer 
        = submit_tag "Submit", class: 'btn btn-primary'
        = link_to "Close", "#", class: 'btn', 'data-dismiss' => 'modal'