- if notice
  .alert.alert-success.text-center
    %button{type: 'button', class: 'close', "data-dismiss" => 'alert'} &times;
    = notice
- if flash[:alert]
  .alert.alert-danger.text-center
    %button{type: 'button', class: 'close', "data-dismiss" => 'alert'} &times;
    = flash[:alert]