.btn-group{style: "margin: 0px auto;"}
  = link_to "Facebook", facebook_url({}, true), class: 'btn', target: "_blank"
  = link_to "Twitter", twitter_url({}, true), class: 'btn', target: "_blank"
  = link_to "Google+", google_url({}, true), class: 'btn', target: "_blank"