.btn-group{style: "margin: 0px auto;"}
  = link_to "Facebook", social_url(:facebook, url), class: 'btn', target: "_blank"
  = link_to "Twitter", social_url(:twitter, url), class: 'btn', target: "_blank"
  = link_to "Google+", social_url(:google, url), class: 'btn', target: "_blank"